<div [className]="ThemeClass | async" style="height: 100%">
    <mat-toolbar color="primary" class="theme-picker-toolbar">
      <h1>{{Title}}</h1>
      <span fxFlex="nogrow">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>format_color_fill</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div *ngFor="let theme of Themes">
            <div fxLayout="row" fxLayoutGap="10px" fxFlex fxLayoutAlign="start center" mat-menu-item
              (click)="PickTheme(theme.Color)">
              <mat-icon [ngClass]="theme.ColorSwatch">{{theme.Icon}}</mat-icon>
              <span>{{theme.Label}}</span>
            </div>
          </div>
        </mat-menu>
      </span>
    </mat-toolbar>
  
    <div class="theme-picker-content">
      <div class="theme-picker-card-container" fxLayout="row" fxLayout.lt-md="column">
        <lcu-theme-picker *ngFor="let card of Cards" [card]="card" (cardSelected)="DisplayDetails()"></lcu-theme-picker>
      </div>
    </div>
  </div>
  