@import "../../common/assets/theme-picker";
@import "./app/app.component.scss";

@include fathym-themes();
@include theme-picker-component-theme($fathym-theme);

.app-background {
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  min-width: 300px;
  max-height: -webkit-fill-available;
}
