@import "~@lcu/common/assets/styles/fathym-global.styles";
@import "~@lcu/common/assets/styles/branding/fathym-branding";
@import "~@lcu/common/assets/theming/fathym_themes";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

// $fathym-theme: fathym-contrast-theme();

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity); /* For IE8 and earlier */
}

@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

@mixin theme-setup($fathym-theme) {
  @include angular-material-theme($fathym-theme);
  @include theme-extras($fathym-theme);
}

@mixin primary-logo($logo, $fathym-theme, $opacity) {
  .primary-logo {
    background-image: fathym-logo(
      $logo,
      mat-color(map-get($fathym-theme, accent)),
      $opacity
    );
  }
}

// @mixin set-theme($value) {
//     $fathym-theme: $value !global;
// }

@mixin fathym-themes() {
    .fathym-arctic-theme {
        $fathym-theme: fathym-arctic-theme(true) !global;
        @include theme-setup($fathym-theme);
        @include primary-logo(thinky-full-logo, $fathym-theme, 1);
    }

    .fathym-contrast-theme {
        $fathym-theme: fathym-contrast-theme(true) !global;
        @include theme-setup($fathym-theme);
        @include primary-logo(thinky-full-logo, $fathym-theme, 1);
    }

    .fathym-cool-candy-theme {
        $fathym-theme: fathym-cool-candy-theme(true) !global;
        @include theme-setup($fathym-theme);
        @include primary-logo(thinky-full-logo, $fathym-theme, 1);
    }

    .fathym-flipper-theme {
        $fathym-theme: fathym-flipper-theme(true) !global;
        @include theme-setup($fathym-theme);
        @include primary-logo(thinky-full-logo, $fathym-theme, 1);
    }

    .fathym-ice-theme {
        $fathym-theme: fathym-ice-theme() !global;
        @include theme-setup($fathym-theme);
        @include primary-logo(thinky-full-logo, $fathym-theme, 1);
    }

    .fathym-sea-green-theme {
        $fathym-theme: fathym-sea-green-theme(true) !global;
        @include theme-setup($fathym-theme);
        @include primary-logo(thinky-full-logo, $fathym-theme, 1);
    }

    .fathym-white-mint-theme {
        $fathym-theme: fathym-white-mint-theme() !global;
        @include theme-setup($fathym-theme);
        @include primary-logo(thinky-full-logo, $fathym-theme, 1);
    }

    .fathym-ivy-theme {
        $fathym-theme: fathym-ivy-theme() !global;
        @include theme-setup($fathym-theme);
        @include primary-logo(thinky-full-logo, $fathym-theme, 1);
    }
}
